@charset "utf-8";

div.page-header {
	padding-top: 60px;
	padding-bottom: 30px;
}

div.section {
	padding-bottom: 80px;
}

span.guide {
	font-size: 8ex;
}

.scrollfx div {
	transition: 0.5s;
}

a.list-group-item {
	margin-bottom: 5px;
}

a.thumbnail {
	border-radius: 5px;
	background-color: #111111;
	border: 2px solid #aaaaaa;
}

a.thumbnail:hover {
	border: 2px solid #aaaaaa;
	background-color: #222222;
	text-decoration: none;
}

/* KaTeX responsive */
.katex-display > .katex {
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
	overflow-x: scroll;
	text-align: initial;
}
